/* SPDX-License-Identifier: Apache-2.0 */

@import "../../node_modules/@oruga-ui/theme-oruga/dist/oruga.css";
@import "oruga-customization.css";

/*  ============================================================================
    Fonts
*/
@import "@/fonts/styreneA/1802-UFGULA.css";

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('@/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Geist Mono';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('@/fonts/Geist_Mono/GeistMono-VariableFont_wght.ttf') format('truetype');
}

:root {
    --font-family-heading: 'Styrene A Web';
    --font-family-proportional: 'Inter';
    --font-family-monospace: 'Geist Mono';
}

/*  ============================================================================
    Color Themes / Modes
*/
:root {

    /* CURRENT MODE */
    --text-primary: var(--light-text-primary);
    --text-secondary: var(--light-text-secondary);
    --text-accent2: var(--light-text-accent2);
    --text-success: var(--light-text-success);
    --text-error: var(--light-text-error);
    --text-disabled: var(--light-text-disabled);
    --background-primary: var(--light-background-primary);
    --background-primary-transparent: var(--light-background-primary-transparent);
    --background-secondary: var(--light-background-secondary);
    --background-tertiary: var(--light-background-tertiary);
    --border-primary: var(--light-border-primary);
    --border-secondary: var(--light-border-secondary);
    --table-border: var(--light-table-border);
    --chip-text-primary: var(--light-chip-text-primary);
    --chip-secondary-default: var(--light-chip-secondary-default);
    --button-text-secondary: var(--light-button-text-secondary);
    --button-background-secondary: var(--light-button-background-secondary);
    --copy-button-text: var(--light-copy-button-text);
    --copy-button-background: var(--light-copy-button-background);
    --tab-background: var(--light-tab-background);
    --icon-default-color: var(--light-icon-default-color);
    --status-success-color: var(--light-status-success-color);
    --status-error-color: var(--light-status-error-color);
    --search-bar-default: var(--light-search-bar-default);
    --graph-line-color: var(--light-graph-line-color);

    --network-button-text-color: var(--light-network-button-text-color);
    --network-button-color: var(--light-network-button-color);
    --network-chip-text-color: var(--light-network-chip-text-color);
    --network-chip-color: var(--light-network-chip-color);
    --network-text-accent-color: var(--light-network-text-accent-color);
    --network-border-accent-color: var(--light-network-border-accent-color);
    --network-graph-bar-color: var(--light-network-graph-bar-color);
}

/*
    Compatibility with existing variables
 */
:root {
    --network-theme-color: var(--network-button-color);
    --h-theme-highlight-color: var(--light-network-text-accent-color);
    --h-theme-page-background-color: var(--background-primary);
    --h-theme-box-background-color: var(--background-tertiary);
}

/*  ============================================================================
    Network Color Maps
 */

:root {
    --purple-light-button-text-color: #FFFFFF;
    --purple-light-button-color: #7A1B80;
    --purple-light-chip-text-color: #FFFFFF;
    --purple-light-chip-color: #A7449D;
    --purple-light-text-accent-color: #E0007B;
    --purple-light-border-accent-color: #B664AE;
    --purple-light-graph-bar-color: #E183E7;
    --purple-dark-button-text-color: #FFFFFF;
    --purple-dark-button-color: #7A1B80;
    --purple-dark-chip-text-color: #FFFFFF;
    --purple-dark-chip-color: #A7449D;
    --purple-dark-text-accent-color: #F258AC;
    --purple-dark-border-accent-color: #7A1B80;
    --purple-dark-graph-bar-color: #D245DB;

    --orange-light-button-text-color: #FFFFFF;
    --orange-light-button-color: #FF4D00;
    --orange-light-chip-text-color: #000000;
    --orange-light-chip-color: #FF6B2BE5;
    --orange-light-text-accent-color: #C73C00;
    --orange-light-border-accent-color: #C2C2C2;
    --orange-light-graph-bar-color: #FF4D0099;
    --orange-dark-button-text-color: #FFFFFF;
    --orange-dark-button-color: #FF4D00;
    --orange-dark-chip-text-color: #000000;
    --orange-dark-chip-color: #EB6931;
    --orange-dark-text-accent-color: #FF4D00;
    --orange-dark-border-accent-color: #FF4D00;
    --orange-dark-graph-bar-color: #FF4D00E5;

    --yellow-light-button-text-color: #050505;
    --yellow-light-button-color: #FFDE00;
    --yellow-light-chip-text-color: #000000;
    --yellow-light-chip-color: #FFDE00BD;
    --yellow-light-text-accent-color: #B87700;
    --yellow-light-border-accent-color: #C2C2C2;
    --yellow-dark-button-text-color: #050505;
    --yellow-dark-button-color: #FFDE00;
    --yellow-dark-chip-text-color: #000000;
    --yellow-dark-chip-color: #FFE221D4;
    --yellow-dark-text-accent-color: #FFDE00;
    --yellow-dark-border-accent-color: #FFDE00;


    --graph-gradient-start-color: hsl(from var(--graph-line-color) h s l / 16%);
    --graph-gradient-end-color: hsl(from #2962FF h s l / 5%);

}


/*  ============================================================================
    Explorer classes
*/


html, body {
    background: var(--background-primary);
    color: var(--text-primary);
    font-family: var(--font-family-proportional), sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body, button, input, optgroup, select, textarea {
    font-family: var(--font-family-proportional), sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    color: grey;
}

button {
    background-color: var(--background-tertiary);
    border: none;
    padding: 0;
}

blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0
}

button, input, select, textarea {
    margin: 0
}

ul {
    list-style: none
}

.h-page-frame {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.h-page-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

@media (min-width: 1080px) {
    .h-page-content {
        margin-left: 32px;
        margin-right: 32px;
    }
}

.h-side-by-side-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 1600px) {
    .h-side-by-side-content {
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
    }
}

.h-sub-section {
    background-color: var(--tab-background);
    border-radius: 8px;
    color: var(--text-primary);
    font-family: var(--font-family-heading), sans-serif;
    font-weight: 700;
    font-size: 14px;
    max-width: fit-content;
    padding: 8px 8px;
}

.h-has-pill {
    background: var(--network-chip-color);
    border-radius: 32px;
    color: var(--network-chip-text-color);
    display: inline-block;
    font-family: var(--font-family-heading), sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    height: 20px;
    padding: 2px 8px;
    text-wrap: nowrap;
}

.h-has-pill.h-chip-success {
    background-color: var(--status-success-color);
    color: #FFFFFF;
}

.h-has-pill.h-chip-error {
    background-color: var(--status-error-color);
    color: #FFFFFF;
}

.h-has-pill.h-chip-default {
    background-color: var(--chip-secondary-default);
    color: var(--text-primary);
}

.h-is-bold {
    font-weight: 600;
}

.h-is-monospace {
    font-family: var(--font-family-monospace), sans-serif;
}

.h-is-numeric {
    font-variant-numeric: tabular-nums;
}

.h-is-low-contrast {
    color: var(--text-secondary);
}

.h-text-error {
    color: var(--text-error);
}

.h-is-extra-text {
    color: var(--network-text-accent-color);
}


.h-should-wrap {
    word-break: break-word;
}

hr.horizontal-line {
    background-color: var(--border-secondary);
    border: 0;
    height: 1px;
    margin: 0;
    padding: 0;
}

.h-is-label {
    background: var(--button-background-secondary);
    border: solid 1px var(--border-secondary);
    border-radius: 4px;
    color: var(--text-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 3px 6px 3px;
}

.h-is-compact-label {
    background: var(--button-background-secondary);
    border: solid 1px var(--border-secondary);
    border-radius: 4px;
    color: var(--text-primary);
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 2px;
    padding: 1px 4px 2px;
}

.w250 {
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.w300 {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.w400 {
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.h-code-box {
    background-color: var(--background-secondary);
    border-radius: 8px;
    border-width: 0;
    min-height: 20px;
    max-height: 400px;
    overflow-y: auto;
    padding: 16px;
}

.h-code-source {
    background-color: var(--background-secondary) !important;
    font-size: 12px !important;
}

.h-banner-link {
    text-decoration: underline;
}

a.h-banner-link:hover {
    color: #D7D7D7;
}

/*  ============================================================================
    Maintain code which is still using BULMA classes
*/

.has-text-left {
    text-align: left !important
}

.has-text-right {
    text-align: right !important
}

.has-text-centered {
    text-align: center !important
}

.is-inline-block {
    display: inline-block !important
}

.mt-1 {
    margin-top: .25rem !important
}

.mr-1 {
    margin-right: .25rem !important
}

.ml-1 {
    margin-left: .25rem !important
}

.mr-2 {
    margin-right: .5rem !important
}

.mb-2 {
    margin-bottom: .5rem !important
}

.ml-2 {
    margin-left: .5rem !important
}

.mt-3 {
    margin-top: .75rem !important
}

.mr-3 {
    margin-right: .75rem !important
}

.mt-4 {
    margin-top: 1rem !important
}

.mb-4 {
    margin-bottom: 1rem !important
}

.ml-5 {
    margin-left: 1.5rem !important
}

/*  ============================================================================
    DatePicker
*/

:root {
    --dp-font-family: var(--font-family-proportional), sans-serif;
    --dp-border-radius: 0;
    --dp-font-size: 11px;
}

.dp__theme_dark, .dp__theme_light {
    --dp-background-color: var(--background-tertiary);
    --dp-primary-color: var(--network-button-color);
    --dp-border-color: var(--text-secondary);
    --dp-border-color-hover: var(--text-secondary);
    --dp-icon-color: var(--text-primary);
}

.dp__input {
    height: 28px;
}
